@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

body {
    min-height: 100vh;
    background-color: #eee;
    background-size: cover;
    font-family: 'Cormorant', serif;
    color: rgb(112, 123, 240);
    background: linear-gradient(140deg, #fff, 50%, #74a0ff);
    background-repeat: no-repeat;
}


.card{
    width: 600px;
    min-height: 600px;
    background: linear-gradient(70deg, #3f87a6, #ebf8e1, #f69d3c)!important;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding: 35px
    
}

